# Analysis - Task 5

In [22]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from MS2_CleanRawData import *

## Research Questions

In [23]:
Amenities = load_clean_Ammenities('/Users/emmarutledge/Desktop/course-project-group_1036/data/raw/google_review_ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/Ammenities_Cleaned.csv'

In [24]:
Art_and_History = load_clean_Art_and_History('/Users/emmarutledge/Desktop/course-project-group_1036/data/raw/google_review_ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/Art_and_History_Cleaned.csv'

In [25]:
Food_and_Beverage = load_clean_Food_and_Beverage('/Users/emmarutledge/Desktop/course-project-group_1036/data/raw/google_review_ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/Food_and_Beverage_Cleaned.csv'

In [26]:
Recreation = load_clean_Recreation('/Users/emmarutledge/Desktop/course-project-group_1036/data/raw/google_review_ratings.csv')

FileNotFoundError: [Errno 2] No such file or directory: '../data/processed/Recreation_Cleaned.csv'

1. What is the typical google rating of tourist attractions across different attraction categories in Europe

In [16]:
Amen_Describe = Amenities.describe()
Art_Describe = Art_and_History.describe()
Food_Describe = Food_and_Beverage.describe()

In [19]:
Food_Describe

,Restaurants,Pubs & Bars,Burger & Pizza Shops,Juice Bars,Bakeries,Cafes
count,4143.000000,4143.000000,4143.000000,4143.000000,4143.000000,4143.000000
mean,3.054909,2.623560,2.019657,2.148252,1.170509,1.121028
std,1.402309,1.269768,1.218255,1.597985,1.197777,0.944740
min,0.840000,0.810000,0.780000,0.760000,0.500000,0.500000
25%,1.690000,1.560000,1.180000,0.980000,0.600000,0.670000
50%,2.780000,2.530000,1.680000,1.380000,0.750000,0.810000
75%,5.000000,3.160000,2.230000,2.685000,0.890000,1.060000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [20]:
Art_Describe

          Churches     Theatres      Museums  Art Galleries    Monuments
count  5150.000000  5150.000000  5150.000000    5150.000000  5150.000000
mean      1.524897     3.024621     2.956511       2.187819     1.621635
std       0.786712     1.327539     1.276699       1.696119     1.300531
min       0.530000     1.120000     1.110000       0.500000     0.260000
25%       0.980000     1.860000     1.850000       0.870000     0.840000
50%       1.355000     2.700000     2.740000       1.330000     1.100000
75%       1.880000     4.427500     4.140000       3.697500     1.657500
max       5.000000     5.000000     5.000000       5.000000     5.000000

In [18]:
Amen_Describe

,Churches,Parks,Malls,Local Services,Hotels & Lodgings,Gyms
count,4285.000000,4285.000000,4285.000000,4285.000000,4285.000000,4285.000000
mean,1.541881,2.796618,3.314854,2.465097,2.126362,0.999344
std,0.854111,1.317547,1.442907,1.329559,1.439211,0.941138
min,0.500000,0.830000,1.120000,0.780000,0.770000,0.500000
25%,0.910000,1.740000,1.900000,1.550000,1.100000,0.600000
50%,1.320000,2.440000,3.220000,1.990000,1.600000,0.740000
75%,2.030000,4.120000,5.000000,2.890000,2.390000,0.880000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

The worst rating things from each category were Gyms, Churches, and Cafes. The best average ratings were Restaurants, Theatres, and Malls.

2. Do users who find art and history good rate recreational activities low? (Or whatever makes sense with our data) are they the same people who rate the gyms really low?

3. Are there categories that do really well/really bad. What are the overall best average ratings?

* You should remain focused on your research question(s) - it is very easy to get lost down rabbit holes in data analyses projects.
If you find that your research questions are not that interesting, or you find more interesting questions (especially after your EDA) you may revise them, or add more.
Use the lab times, as well as our office hours (TAs and instructors), to get help and guidance on your analyses.
You should experiment with “plenty of” data visualizations to try and visualize your dataset and answer your research questions.
Give us a narrative/story of your explorations as you go along, in-line with your data - use the new Markdown skills you learned in Task 1! *