# Exploratory Data Analysis

Done on the the Art_and_History and Recreation subsets of the google reviews dataset. Find EDA for Food_and_Beverage and Ammenities subsets in ../Emma1 

First script and command chain cleaning functions for the Art_and_History and Recreation subsets of the google reviews dataset are loaded.

In [26]:
# Import python modules

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import pandas_profiling as pdp

# Load cleaned Recreation and Art_and_History data subsets as dataframes from the google review data set using functions from MS2_CleanRawData module

Recreation, Outdoors = load_clean_Recreation("../data/raw/google_review_ratings.csv")
Art = load_clean_Art_and_History("../data/raw/google_review_ratings.csv")

## Look at DataFrames

In [11]:
print(Recreation)

 #Includes recreational activities in both indoor and outdoor catagories

     Google User ID  Resorts  Beaches  Parks  Zoos  Dance Clubs  \
68          User 69     0.78     0.82   0.85  2.92         1.35
69          User 70     0.82     0.83   5.00  2.91         1.33
70          User 71     0.83     0.84   0.86  2.91         1.32
71          User 72     0.84     0.85   0.88  2.91         1.30
72          User 73     0.86     0.87   0.90  2.90         1.29
...             ...      ...      ...    ...   ...          ...
5451      User 5452     5.00     4.00   2.79  1.09         0.66
5452      User 5453     5.00     4.02   2.79  1.07         0.65
5453      User 5454     5.00     4.03   2.80  1.05         0.65
5454      User 5455     4.05     4.05   2.81  1.03         0.64
5455      User 5456     4.07     5.00   2.82  1.02         0.64

      Swimming Pools  Beauty & Spas  View Points  Gardens
68              0.55           0.50         0.73     0.73
69              1.36           0.50         0.75     0.74
70              1.34           0.51         0.76     0.77
71              0.58           0.51         0.78     0.80
72              0.57           0.52         5.00     0.88
...              ...            ...          ...      ...
5451            0.65           5.00         5.00     1.56
5452            0.64           1.62         5.00     1.09
5453            0.63           5.00         5.00     1.11
5454            0.63           5.00         5.00     1.12
5455            0.62           5.00         5.00     1.17

[4103 rows x 10 columns]

In [12]:
print(Outdoors)
 ## Outdoor recreation only.

     Google User ID  Beaches  Parks  View Points  Gardens
68          User 69     0.82   0.85         0.73     0.73
69          User 70     0.83   5.00         0.75     0.74
70          User 71     0.84   0.86         0.76     0.77
71          User 72     0.85   0.88         0.78     0.80
72          User 73     0.87   0.90         5.00     0.88
...             ...      ...    ...          ...      ...
5451      User 5452     4.00   2.79         5.00     1.56
5452      User 5453     4.02   2.79         5.00     1.09
5453      User 5454     4.03   2.80         5.00     1.11
5454      User 5455     4.05   2.81         5.00     1.12
5455      User 5456     5.00   2.82         5.00     1.17

[4103 rows x 5 columns]

In [24]:
print(Art)

(     Google User ID  Resorts  Beaches  Parks  Zoos  Dance Clubs  \
68          User 69     0.78     0.82   0.85  2.92         1.35
69          User 70     0.82     0.83   5.00  2.91         1.33
70          User 71     0.83     0.84   0.86  2.91         1.32
71          User 72     0.84     0.85   0.88  2.91         1.30
72          User 73     0.86     0.87   0.90  2.90         1.29
...             ...      ...      ...    ...   ...          ...
5451      User 5452     5.00     4.00   2.79  1.09         0.66
5452      User 5453     5.00     4.02   2.79  1.07         0.65
5453      User 5454     5.00     4.03   2.80  1.05         0.65
5454      User 5455     4.05     4.05   2.81  1.03         0.64
5455      User 5456     4.07     5.00   2.82  1.02         0.64

      Swimming Pools  Beauty & Spas  View Points  Gardens
68              0.55           0.50         0.73     0.73
69              1.36           0.50         0.75     0.74
70              1.34           0.51         0.76     0.77
71              0.58           0.51         0.78     0.80
72              0.57           0.52         5.00     0.88
...              ...            ...          ...      ...
5451            0.65           5.00         5.00     1.56
5452            0.64           1.62         5.00     1.09
5453            0.63           5.00         5.00     1.11
5454            0.63           5.00         5.00     1.12
5455            0.62           5.00         5.00     1.17

[4103 rows x 10 columns],      Google User ID  Beaches  Parks  View Points  Gardens
68          User 69     0.82   0.85         0.73     0.73
69          User 70     0.83   5.00         0.75     0.74
70          User 71     0.84   0.86         0.76     0.77
71          User 72     0.85   0.88         0.78     0.80
72          User 73     0.87   0.90         5.00     0.88
...             ...      ...    ...          ...      ...
5451      User 5452     4.00   2.79         5.00     1.56
5452      User 5453     4.02   2.79         5.00     1.09
5453      User 5454     4.03   2.80         5.00     1.11
5454      User 5455     4.05   2.81         5.00     1.12
5455      User 5456     5.00   2.82         5.00     1.17

[4103 rows x 5 columns])

## Art and History EDA

In [25]:
# Start with .describe for rudementary overview.
A= Art.describe(percentiles=None, include= 'all', exclude=None).T

AttributeError: 'tuple' object has no attribute 'describe'

## Notes on Art.describe
* All catagories have the max, 5-star review.
* Theatres and museums have a higher review average compared to Churches, Art Galleries, and monuments (Theatres have highest average review in subset).
* Churches have the lowest average review in the subset.
* Monuments contain the lowest review of the subset.

In [9]:
# Run and save pandas_profile for Art_and_History subset 

profile = pdp.ProfileReport(Art, title = "Art and History Exploration Profile")
profile.to_file("Art_and_History.html")

NameError: name 'Art' is not defined

## Notes on Art and History Profile Report
* All catagories have the max, 5-star review.
* Theatres and museums have a higher review average compared to Churches, Art Galleries, and monuments (Theatres have highest average review in subset).
* Churches have the lowest average review in the subset.
* Monuments contain the lowest review of the subset.

In [22]:
## Move to Recreation
R = Recreation.describe(percentiles=None, include= 'all', exclude=None).T
print(R)
O = Outdoors.describe(percentiles=None, include= 'all', exclude=None).T
print(O)

                 count unique        top freq      mean       std   min  \
Google User ID    4103   4103  User 2362    1       NaN       NaN   NaN
Resorts         4103.0    NaN        NaN  NaN  2.425654  1.381474  0.56
Beaches         4103.0    NaN        NaN  NaN   2.45594  1.151642  0.59
Parks           4103.0    NaN        NaN  NaN  2.792562  1.293448  0.85
Zoos            4103.0    NaN        NaN  NaN  2.437275  1.103829  0.86
Dance Clubs     4103.0    NaN        NaN  NaN  1.237477  1.146805  0.51
Swimming Pools  4103.0    NaN        NaN  NaN  1.028606  0.941634   0.5
Beauty & Spas   4103.0    NaN        NaN  NaN  1.233112    1.2411   0.5
View Points     4103.0    NaN        NaN  NaN  1.965013  1.645791   0.5
Gardens         4103.0    NaN        NaN  NaN   1.69186  1.224749   0.5

                  25%   50%    75%  max
Google User ID    NaN   NaN    NaN  NaN
Resorts         1.385  2.11   2.76  5.0
Beaches          1.62  2.13   2.68  5.0
Parks            1.78  2.44   4.08  5.0
Zoos             1.56  2.01   3.05  5.0
Dance Clubs      0.69   0.8   1.18  5.0
Swimming Pools   0.62  0.76   0.96  5.0
Beauty & Spas    0.63  0.75   0.94  5.0
View Points      0.78  1.07  2.995  5.0
Gardens          0.88   1.3   1.85  5.0
                 count unique        top freq      mean       std   min   25%  \
Google User ID    4103   4103  User 2362    1       NaN       NaN   NaN   NaN
Beaches         4103.0    NaN        NaN  NaN   2.45594  1.151642  0.59  1.62
Parks           4103.0    NaN        NaN  NaN  2.792562  1.293448  0.85  1.78
View Points     4103.0    NaN        NaN  NaN  1.965013  1.645791   0.5  0.78
Gardens         4103.0    NaN        NaN  NaN   1.69186  1.224749   0.5  0.88

                 50%    75%  max
Google User ID   NaN    NaN  NaN
Beaches         2.13   2.68  5.0
Parks           2.44   4.08  5.0
View Points     1.07  2.995  5.0
Gardens          1.3   1.85  5.0

In [6]:
import pandas_profiling as pdp
profileR = pdp.ProfileReport(Recreation, title = "Recreation Exploration Profile")
profileR.to_file("Recreation.html")

profileO = pdp.ProfileReport(Outdoors, title = "Outdoor Recreation Exploration Profile")
profileO.to_file("Outdoor_Recreation.html")

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]